<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="Creative One Page Parallax Template">
	<meta name="keywords" content="Creative, Onepage, Parallax, HTML5, Bootstrap, Popular, custom, personal, portfolio" /> 
	<meta name="author" content=""> 
	<title> | :: Plataforma de Mujeres Productoras ::</title> 
	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet"> 
	<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"> 
	<link href="{{ asset('css/animate.css') }}" rel="stylesheet"> 
	<link href="{{ asset('css/main.css') }}" rel="stylesheet">
	<link href="{{ asset('css/responsive.css') }}" rel="stylesheet"> 
	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> 
	<script src="js/respond.min.js"></script> <![endif]--> 
	<link rel="shortcut icon" href="images/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png"> 
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	{% block js_head %}{% endblock %}
</head><!--/head-->
<body>
	<div class="preloader">
		<div class="preloder-wrap">
			<div class="preloder-inner"> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div>
			</div>
		</div>
	</div><!--/.preloader-->
	<header id="navigation"> 
		<div class="navbar navbar-inverse navbar-fixed-top" role="banner"> 
			<div class="container"> 
				<div class="navbar-header"> 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
					</button> 
					<a class="navbar-brand" href=""><h1><img src="{{ asset('images/logo.png') }}" alt="logo"></h1></a> 
				</div> 
				<div class="collapse navbar-collapse"> 
					<ul class="nav navbar-nav navbar-right"> 
						<li class="scroll active"><a href="#navigation">INICIO</a></li> 
						<li class="scroll"><a href="#about-us">NOSOTROS</a></li> 
						<li class="scroll"><a href="#services">¿CÒMO AYUDAR?</a></li> 
						<li class="scroll"><a href="#our-team">LÌNEA DE PRODUCTOS</a></li> 
						<li class="scroll"><a href="#portfolio">MAPA</a></li> 
						<li class="scroll"><a href="#clients">CONTACTO</a></li>
					</ul> 
				</div> 
			</div> 
		</div><!--/navbar--> 
	</header> <!--/#navigation--> 

	<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
				<li data-target="#main-carousel" data-slide-to="3"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(images/slider/slide1.jpg)"> 
					<div class="carousel-caption"> 
						<div> 
							<h2 class="heading animated bounceInDown">NECESITAMOS PRODUCTOS ESPECÌFICOS</h2> 
							<p class="animated bounceInUp">Ayuda a las mujeres emprendedoras</p> 
							<a class="btn btn-default slider-btn animated fadeIn" href="#">Ahora</a> 
						</div> 
					</div> 
				</div>
				<div class="item" style="background-image: url(images/slider/slide4.jpg)"> 
					<div class="carousel-caption"> <div> 
						<h2 class="heading animated bounceInDown">LAS MUJERES PRODUCTORAS DE TU PAÌS TE NECESITAN</h2> 
						<p class="animated bounceInUp">Invierte con ellas </p> <a class="btn btn-default slider-btn animated fadeIn" href="#">Ahora</a> 
					</div> 
				</div> 
			</div> 
			<div class="item" style="background-image: url(images/slider/slide2.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">PROGRAMA DE CAPACITACIÒN</h2> 
						<p class="animated bounceInLeft">Certifìcate y vincula tu emprendimiento con nuestra plataforma.</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="#">Aprende</a> 
					</div> 
				</div> 
			</div>
			<div class="item" style="background-image: url(images/slider/slide3.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight"></h2> 
						<p class="animated bounceInLeft">.</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="#"></a> 
					</div> 
				</div> 
			</div>
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div> 

</section><!--/#home-->

<section id="about-us">
	<div class="container">
		<div class="text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="title-one">nuestro objetivo</h2>
				<p>Desarrollar un proyecto para lograr la inserción laboral de las mujeres afectadas por una catástrofe en Ecuador.</p>
			</div>
		</div>
		<div class="about-us">
			<div class="row">
				<div class="col-sm-6">
					<h3>¿CÒMO AYUDAR?</h3>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> SOY EMPRESARIO</a></li>
						<li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> SOY MUJER PRODUCTORA</a></li>
						<li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> DESEO DONAR</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="about">
							<div class="media">
								<img class="pull-left media-object" src="images/about-us/about.jpg" alt="about us"> 
								<div class="media-body">
									<p>Te abrimos las puertas para que te asocies con una mujer productora certificada y aportes al crecimiento del país. Simplemente llena el formulario y nosotros nos encargaremos del vínculo de acuerdo a tu presupuesto y/o sector productivo. 
ver formulario.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="mission">
							<div class="media">
								<img class="pull-left media-object" src="images/about-us/mission.jpg" alt="Mission"> 
								<div class="media-body">
									<p>Vincula tu emprendimiento con nuestra plataforma y forma parte de nuestro proceso de certificaciòn, seguimiento de producto y vinculaciòn con inversionistas y canales de distribución. 
Inscribirme </p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="community">
							<div class="media">
								<img class="pull-left media-object" src="images/about-us/community.jpg" alt="Community"> 
								<div class="media-body">
									<p>Estamos en un momento crìtico y necesitamos productos especìficos para solventar las cantidades que las mujeres productoras necesitan para iniciar su emprendimiento. 
Donar. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h3>Estadisticas en Manabì</h3>
					<div class="skill-bar">
						<div class="skillbar clearfix " data-percent="90%">
							<div class="skillbar-title">
								<span>Productoras</span>
							</div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">90%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix" data-percent="50%">
							<div class="skillbar-title"><span>Productos</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">50%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix " data-percent="70%">
							<div class="skillbar-title"><span>Capacitaciones</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">70%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix " data-percent="60%">
							<div class="skillbar-title"><span>Mujeres sin recursos</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">60%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix " data-percent="40%">
							<div class="skillbar-title"><span>Productos en venta</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">40%</div>
						</div> <!-- End Skill Bar --></div>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#about-us-->

	<section id="services" class="parallax-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="title-one">SIETE PUNTO OCHO</h2>
					<p>Estas son nuestras tres líneas de acción a través de las cuales buscamos ser una herramienta transformadora en las mujeres.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="our-service">
						<div class="services row">
							<div class="col-sm-4">
								<div class="single-service">
									<i class="fa fa-th"></i>
									<h2>Georreferenciación</h2>
									<p>El objetivo es Identificar la infraestructura vial, servicios básicos dónde se pueda lograr un mejor desarrollo productivo.</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="single-service">
									<i class="fa fa-html5"></i>
									<h2>Capacitación</h2>
									<p>Este eje tiene dos ramas: 1) Saberes ancestrales que pueden transmitir las mismas mujeres. 2) Conocimientos y habilidades técnicas que pueden ser desarrolladas en plataformas educativas </p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="single-service">
									<i class="fa fa-users"></i>
									<h2>Vinculación</h2>
									<p>La vinculación comercial es importante para poder cerrar el círculo productivo, por eso la necesidad de poner la oferta de las mujeres productoras a disposición del público, de una manera socialmente responsable. La necesidad de aportes semillas para la producción hacen que nuestro objetivo se cumpla con el aporte de todos. Esto es Ganar, Ganar!.</p>
								</div>
							</div></div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/#service-->

		<section id="our-team">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="title-one">NUESTROS PRODUCTOS</h2>
						<p>Manabí es una provincia productiva por excelencia; sus productos gozan de un prestigio internacional.</p>
					</div>
				</div>
				<div id="team-carousel" class="carousel slide" data-interval="false">
					<a class="member-left" href="#team-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="member-right" href="#team-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					<div class="carousel-inner team-members">
						<div class="row item active">
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="images/our-team/member1.jpg" alt="team member" />
									<h4>El queso y la sal prieta</h4>
									<p>El queso y la sal prieta son populares, pero también los dulces de maní y ajonjolí, troliches, rompope, rosquitas, maní partido…  Los manabitas traen hasta gallinas criollas para ofrecerlas en los mercados</p>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="images/our-team/member1.jpg" alt="team member" />
									<h4>El queso y la sal prieta</h4>
									<p>El queso y la sal prieta son populares, pero también los dulces de maní y ajonjolí, troliches, rompope, rosquitas, maní partido…  Los manabitas traen hasta gallinas criollas para ofrecerlas en los mercados</p>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="images/our-team/member1.jpg" alt="team member" />
									<h4>El queso y la sal prieta</h4>
									<p>El queso y la sal prieta son populares, pero también los dulces de maní y ajonjolí, troliches, rompope, rosquitas, maní partido…  Los manabitas traen hasta gallinas criollas para ofrecerlas en los mercados</p>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="images/our-team/member1.jpg" alt="team member" />
									<h4>El queso y la sal prieta</h4>
									<p>El queso y la sal prieta son populares, pero también los dulces de maní y ajonjolí, troliches, rompope, rosquitas, maní partido…  Los manabitas traen hasta gallinas criollas para ofrecerlas en los mercados</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/#Our-Team-->

					<section id="clients" class="parallax-section">
						<div class="container">
							<div class="clients-wrapper">
								<div class="row text-center">
									<div class="col-sm-8 col-sm-offset-2">
										<h2 class="title-one">COMPLETA EL MAPA MANABITA</h2>
									</div>
								</div>
							</div>
						</div>
					</section><!--/#clients-->

						<section id="contact">
							<div class="container">
								<div class="row text-center clearfix">
									<div class="col-sm-8 col-sm-offset-2">
										<div class="contact-heading">
											<h2 class="title-one">Contacto</h2>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="contact-details">
									<div class="pattern"></div>
									<div class="row text-center clearfix">
										<div class="col-sm-6">
											<div class="contact-address"><address></address>
												<div class="social-icons">
													<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a>
													<a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
													<a href="#"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6"> 
											<div id="contact-form-section">
												<div class="status alert alert-success" style="display: none"></div>
												<form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
													<div class="form-group">
														<input type="text" name="name" class="form-control name-field" required="required" placeholder="Nombre"></div>
														<div class="form-group">
															<input type="email" name="email" class="form-control mail-field" required="required" placeholder="Correo">
														</div> 
														<div class="form-group">
															<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Mensaje"></textarea>
														</div> 
														<div class="form-group">
															<button type="submit" class="btn btn-primary">Enviar</button>
														</div>
													</form> 
												</div>
											</div>
										</div>
									</div>
								</div> 
							</section> <!--/#contact--> 

	<footer id="footer"> 
		<div class="container"> 
			<div class="text-center"> 
				<p>Copyright &copy; 2014 - <a href="http://mostafiz.me/">Mostafiz</a> | All Rights Reserved</p> 
			</div> 
		</div> 
	</footer> <!--/#footer--> 

	<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script> 
	<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/smoothscroll.js') }}"></script> 
	<script type="text/javascript" src="{{ asset('js/jquery.isotope.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.prettyPhoto.js') }}"></script> 
	<script type="text/javascript" src="{{ asset('js/jquery.parallax.js') }}"></script> 
	<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
	{% block javascripts %}{% endblock %}
</body>
</html>